.main-container {
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        text-align: center;
        padding-top: 68px;
        padding-bottom: 56px;
        margin: 0;

        font-family: Roboto;
        font-weight: bold;
        font-size: 24px;
        line-height: 42px;
    }
}

// .card-container {
//     display: flex;

//     flex-direction: column;
//     // mat-card-header {
//     //     flex-direction: row;
//     //     padding-bottom: 10px;
//     // }

//     .table-container{
//         max-width: 90%;
//         justify-items: center;
//         align-content: center;
//         margin-left: 32px;
//         margin-top:36px;
//     }
// }
