<div>
    <table mat-table [dataSource]="dataSource" class="table">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No.</th>
            <td mat-cell *matCellDef="let index = index">
                {{index + 1}}
            </td>
        </ng-container>

        <!-- Product Column -->
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> Produto</th>
            <td mat-cell *matCellDef="let element">
                {{element.product}}
            </td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Valor</th>
            <td mat-cell *matCellDef="let element">
                R$ {{element.value.toFixed(2)}}
            </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type</th>
            <td mat-cell *matCellDef="let element" class="table-cells">
                {{element.type}}
            </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Código</th>
            <td mat-cell *matCellDef="let element">
                {{element.code | mask:'0000-000-000-0'}}
            </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantidade em Estoque</th>
            <td mat-cell *matCellDef="let element">
                {{element.quantity}}
            </td>
        </ng-container>

        <!-- Options Column -->
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #optionsMenu="matMenu">
                    <button mat-menu-item [routerLink]="['/edit-product', element._id]" >
                        Editar
                    </button>
                    <button mat-menu-item (click)="goToDeletePage(element._id)">
                        Deletar
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <!-- Structure of the table -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator 
        [length]="10"
        [pageSizeOptions]="[10, 25, 50, 100]"
        [pageSize]="10"
        aria-label="Select page of products">
    </mat-paginator> -->
</div>